<h1>Listing stats</h1>

<table>
  <tr>
    <th>Min</th>
    <th>Max</th>
    <th>Right</th>
    <th>Draw</th>
    <th>Wrong</th>
    <th>Percentage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stats.each do |stat| %>
  <tr>
    <td><%= stat.min %></td>
    <td><%= stat.max %></td>
    <td><%= stat.right %></td>
    <td><%= stat.draw %></td>
    <td><%= stat.wrong %></td>
    <td><%= stat.percentage %></td>
    <td><%= link_to 'Show', stat %></td>
    <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
    <td><%= link_to 'Destroy', stat, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= @oo %>
<br />

<%= link_to 'New Stat', new_stat_path %>
